.table-header {
  box-sizing: border-box;
  width: 99%;
  height: 30px;
  flex-shrink: 0;
  background: url("@/assets/svg/title_bg.svg");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-cell {
    color: #06C9DD;
    font-family: 'PingFang', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}
.table-content {
  box-sizing: border-box;
  width: 99%;
  margin-bottom: 10px;
  overflow: scroll;
  :deep(.van-cell) {
    background: transparent;
    text-align: center;
    padding: 10px 0;
    &:after {
      display: none;
    }
    .van-button {
      box-sizing: border-box;
      border-radius: 10px;
      padding: 7px 9px;
      height: 29px;
      font-family: 'PingFang', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      .van-button__content {
        height: 12px;
      }
    }
  }
  .table-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    color: #ffff;
    font-family: 'PingFang', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    .cell-item {
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .datetime-container {
        div:nth-child(2) {
          color: #06C9DD;
        }
      }
    }
  }
}
