.dialog {
    border-radius: 12px;
    background: #fff;
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    .close-img {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .state-img {
        width: 24px;
        height: 24px;
    }
    .info-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .dialog-label {
            color: #000000;
            font-size: 14px;
            font-weight: 600;
            line-height: 14px;
            //font-family: 'PingFang';
        }
        .dialog-info {
            color: #666666;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            //font-family: 'PingFang';
        }
    }
}
